<!-- Barre de navigation -->

<nav
  id="navbar"
  class="navbar navbar-expand-md bg-dark navbar-dark fixed-top p-1"
>
  <div class="container-fluid">
    <a routerLink="app-accueil" class="navbar-brand">Club de Lecture</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto nav-tabs">
        <li class="nav-item">
          <a routerLink="app-accueil" class="nav-link">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="app-admin" class="nav-link">Admin</a>
        </li>
        <li class="nav-item">
          <a routerLink="app-ecoles" class="nav-link">Écoles</a>
        </li>
        <li class="nav-item">
          <a routerLink="app-signup" class="nav-link">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a routerLink="app-search" class="nav-link">Recherche</a>
        </li>
        <li class="nav-item">
          <button
            id="panier"
            type="button"
            class="btn btn-outline-primary btn-md"
          >
            <a routerLink="app-panier" class="nav-link">Panier</a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br />
<br />
<br />
<br />

<router-outlet> </router-outlet>
<app-signup></app-signup>

<!-- Boites -->
<section class="p-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Accueil</h3>
          </div>
          <p class="card-text">Aller à l'accueil</p>
          <a routerLink="app-accueil" class="btn btn-primary">app-accueil</a>
        </div>
      </div>

      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Admin</h3>
          </div>
          <p class="card-text">Gestion de compte</p>
          <a routerLink="app-admin" class="btn btn-primary"
            >Connexion/app-admin</a
          >
        </div>
      </div>

      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-book-half"></i>
            </div>
            <h3 class="card-title mb-3">S'inscrire</h3>
          </div>
          <p class="card-text">Creer votre compte</p>
          <a routerLink="app-signup" class="btn btn-primary">app-signup</a>
        </div>
      </div>

      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-book-half"></i>
            </div>
            <h3 class="card-title mb-3">Écoles</h3>
          </div>
          <p class="card-text">Écoles du Club de Lecture</p>
          <a routerLink="app-ecoles" class="btn btn-primary">app-ecoles</a>
        </div>
      </div>

      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-search"></i>
            </div>
            <h3 class="card-title mb-3">Recherche</h3>
          </div>
          <p class="card-text">Chercher notre catalogue</p>
          <a routerLink="app-search" class="btn btn-primary"
            >Recherche/app-search</a
          >
        </div>
      </div>

      <div class="col-md p-1">
        <div class="card bg-dark text-light">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">Panier d'achats</h3>
          </div>
          <p class="card-text">Aller au panier</p>
          <a routerLink="app-panier" class="btn btn-primary"
            >Page panier/app-panier</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pied de page -->
<footer
  id="footer"
  class="p-2 bg-dark text-white text-center position-relative"
>
  <div class="container">
    <p class="lead">
      Site développé dans le cadre du TP1 du cours
      <a href="http://www.etudier.uqam.ca/cours?sigle=INF3190">INF3190 </a> -
      <a href="http://www.uqam.ca" target="_blank">UQAM</a>
      <br />
      Auteur :
      <a
        href="git@gitlab.info.uqam.ca:tavares_silva.rafael/inf3190-a21-tp.git"
        target="_blank"
        >Rafael Tavares Silva - TAVR02048309</a
      >
    </p>
  </div>
</footer>
