<div class="container mt-5">
  <h2>Catalogue de Livres</h2>

  <table mat-table [dataSource]="livres" class="mat-elevation-z8">
    <ng-container matColumnDef="cpr">
      <th mat-header-cell *matHeaderCellDef>Code produit</th>
      <td mat-cell *matCellDef="let livr">{{ livr.cpr }}</td>
    </ng-container>

    <ng-container matColumnDef="aut">
      <th mat-header-cell *matHeaderCellDef>Auteur</th>
      <td mat-cell *matCellDef="let livr">{{ livr.aut }}</td>
    </ng-container>

    <ng-container matColumnDef="tit">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let livr">{{ livr.tit }}</td>
    </ng-container>

    <ng-container matColumnDef="pri">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let livr">{{ livr.pri }}</td>
    </ng-container>

    <ng-container matColumnDef="rab">
      <th mat-header-cell *matHeaderCellDef>Rabais</th>
      <td mat-cell *matCellDef="let livr">{{ livr.rab }}%</td>
    </ng-container>

    <ng-container matColumnDef="panier">
      <th mat-header-cell *matHeaderCellDef>Ajouter panier</th>
      <td mat-cell *matCellDef="let livr"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colones"></tr>
    <tr mat-row *matRowDef="let row; columns: colones"></tr>
  </table>
</div>
